<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nata.fragz.com.natanoti" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Appintro"
            android:label="@string/title_activity_journal"
            android:theme="@style/AppTheme.NoActionBar" >
c
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Natahome"
            android:label="@string/lorem_ipsum"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Journalcreate"
            android:label="@string/title_new_journal"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".NataSplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Journal" >
        </activity>
        <activity android:name="com.facebook.FacebookActivity" >
        </activity>
        <activity
            android:name=".Twitt"
            android:label="@string/title_activity_twitter"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0a922484fc4205386134a9a172f464208f3b9476" />

        <activity
            android:name=".james"
            android:label="@string/title_activity_james"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
